body {
  margin-top: 5rem;
  background-image: url("../images/brushed-metal-texture-1145383.jpg");
  background-repeat: repeat;
}
.bg-dark {
  background-color: rgba(52, 58, 64, 0.7)!important;
}
.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.7);
}
.jumbotron {
  background-image: url("../images/carbon-fiber-1150228.jpg");
  background-repeat: repeat;
  color: rgba(224, 224, 224, 1);
  border-radius: 0;
}

body > div.container > div > div.col-md-6 > h4 {
  text-align: center;
  color: rgba(224, 224, 224, 1);
  text-shadow: 1px 1px 3px black;
}

.list-group {
  margin-bottom: 2rem;
}

.list-group-item {
  background-color: rgba(52, 58, 64, 0.15);
  font-weight: bold;
  text-shadow: 1px 1px 3px black;
}

.list-group-item a {
  color: rgba(224, 224, 224, 1);
}

.list-group-item a:hover {
  text-shadow: 1px 1px 3px blue;
}
